In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.ensemble import AdaBoostRegressor, RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
x = df.drop('math_score', axis=1)
y = df['math_score']

In [7]:
num_feature = x.select_dtypes(exclude='O').columns
cat_feature = x.select_dtypes(include='O').columns

In [8]:
num_feature

Index(['reading_score', 'writing_score'], dtype='object')

In [9]:
cat_feature

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [11]:
numerical_transformer = StandardScaler()
ohe_transformer = OneHotEncoder()

In [12]:
preprocessor = ColumnTransformer([
    ('onehotencoder', ohe_transformer, cat_feature),
    ('standardscaler', numerical_transformer, num_feature)
])

In [13]:
x_trans = preprocessor.fit_transform(x)

In [15]:
x_trans.shape

(1000, 19)

In [16]:
df.shape

(1000, 8)

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x_trans, y, test_size=0.2, random_state=32)

In [18]:
print(x_train.shape)
print(x_test.shape)

(800, 19)
(200, 19)